.about-container{
    display: flex;
    height: 20vh;
}

.brand-statement-container{
    justify-content: center;
}

.brand-statement{
    color:#F0B67F;
    font-size: 24px;
    font-family: 'Gayathri', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;  
}

