.about-container{
    display: flex;
    height: 60vh;
    margin-top: 10vh;
}

img {
    height: 300px;
    width: 300px;
}

.personal-image-container {
    justify-content: flex-start;
}
.brand-statement-container{
    justify-content: center;
    margin-top: 10vh;
    margin-left: 3vw;
}

.brand-statement{
    color:#6B1312;
    font-size: 28px;
    margin-top: -5vh;
    font-family: 'Red Hat Display', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;  
}