.about-container{
    display: flex;
    height: 60vh;
    margin-top: 10vh;
}

.brand-statement-container{
    justify-content: center;
    margin-top: -3vh;
    margin-left: 2vw;
}

.brand-statement{
    color:#ABBAC4;
    font-size: 24px;
    font-family: 'Gayathri', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;  
}

