.app-footer{
    margin-top: 20vh;
    height: 20vh;
    display: flex;
    background-color: #FE5F55;
}

.quote-container{
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 20vh;
}
.quote{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: #F0B67F;
    font-family: 'Oswald', monospace;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.0rem;
    text-decoration: none;
}

.linkedin-logo{
    height: 50px;
    width: 50px;
    margin-right: 5vw;
}

.github-logo{
    height: 50px;
    width: 50px;
    margin-right: 5vw;
}

.resume-logo{
    height: 50px;
    width: 60px;
}

.social-media-links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 600px;
	width: 200px;
}
