@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
.title {
    font-weight: bold;
    color: #F0B67F;
    font-family: 'Oswald', sans-serif;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 4em;
    text-decoration: none;
}

a {
	font-weight:bold;
	color:#F0B67F;
}


.sub-heading{
    color:#F0B67F;
    font-family: 'Oswald';
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    text-decoration: none;
    margin: 0 auto;
}

.title-container{
    display: flex;
    justify-content: center;
    background-color: #FE5F55;
    
}

.sub-heading-container{
    display: flex;
    justify-content: center;
}