@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
.title {
    font-weight: bold;
    color: #FF5757;
    font-family: 'Oswald', sans-serif;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    text-decoration: none;
}

.sub-heading{
    color: #FF5757;
    font-family: 'Gayathri', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 15vh;
    font-size: 3rem;
    text-decoration: none;
}

.title-container{
    display: flex;
    justify-content: center;
    margin-top: -10vh;
    
}

.sub-heading-container{
    display: flex;
    justify-content: center;
    margin-top: -15vh;
}




