.image-container{
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10vw;
    width: 200px;
    height: 100px;
    margin-top: -5vh;
}

.project{
    height: 426px;
    width: 800px;
}

.work-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-container{
    justify-content: flex-end;
    margin-top: 10vh;
}
.summary{
    color:#6B1312;
    font-size: 28px;
    font-family: 'Red Hat Display', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;  
}

