.work-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
    margin: 10px;
}

img:hover {
    border: 10px solid yellow;
    cursor: pointer;
}

p {
    color:#F0B67F;
    font-size: 24px;
    font-family: 'Gayathri', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;  
}