.image-container{
    justify-content: space-evenly;
    padding: 10px;
    width: 300px;
    height: 400px;
}

.project{
    height: 400px;
    width: 300px;
}

.work-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.summary-container{
    margin-top: 5px;
    justify-content: center;
    width: 800px;
}
.summary{
    color:#ABBAC4;
    font-size: 20px;
    font-family: 'Red Hat Display', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder; 
}

