.image-container{
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    height: 300px;
}

.project{
    height: 300px;
    width: 300px;
}

.work-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 1300px;
}

.summary-container{
    margin-top: -5vh;
    justify-content: center;
    width: 800px;
}
.summary{
    color:#FF5757;
    font-size: 28px;
    font-family: 'Red Hat Display', monospace;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder; 
}

