@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
body{
 margin: 20px 20px;
 background-image: linear-gradient(to right, rgba(86, 209, 247, 0.3), rgba(46, 240, 159, 0.3)), url("https://www.pixelstalk.net/wp-content/uploads/2016/06/HD-Technology-Picture.jpg");
 background-color: rgba(120, 73, 77, 0.9);
 background-size: auto;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 60vh;
 font-family: 'Red Hat Display', monospace;
}

nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Gayathri', monospace;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}