@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
body{
 background-color: #FE5F55;
 background-size: auto;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100vh;
}

nav{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  font-family: 'Gayathri', monospace;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  cursor: pointer;
	transition:all 0.5s ease-in-out;
  background: #FE5F55;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: yellow;
}